@import url('https://fonts.googleapis.com/css?family=PT+Sans+Caption');

.menu-main {
    list-style: none;
    padding: 0 30px;
    margin: 0;
    font-size: 18px;
    text-align: right;
    position: relative;
    background: white;
}

.menu-main:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 20px;
    left: 0;
    bottom: -20px;
    background: radial-gradient(white 0%, white 70%, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 0) 100%) 0 -10px;
    background-size: 20px 20px;
    background-repeat: repeat-x;
}

.menu-main li {
    display: inline-block;
}

.menu-main a {
    text-decoration: none;
    display: inline-block;
    margin: 0 15px;
    padding: 10px 30px;
    font-family: 'PT Sans Caption', sans-serif;
    color: #777777;
    transition: .3s linear;
    position: relative;
}

.menu-main a:before,
.menu-main a:after {
    content: "";
    position: absolute;
    top: calc(50% - 3px);
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #F58262;
    opacity: 0;
    transition: .5s ease-in-out;
}

.menu-main a:before {
    left: 5px;
}

.menu-main a:after {
    right: 5px;
}

.menu-main a.current:before,
.menu-main a.current:after,
.menu-main a:hover:before,
.menu-main a:hover:after {
    opacity: 1;
}

.menu-main a.current,
.menu-main a:hover {
    color: #F58262;
}

@media (max-width: 680px) {
    .menu-main li {
        display: block;
    }
}

.header {
    background-color: #520047;
    height: 55px;
    color: wheat;

    background: radial-gradient(white -170%, #520047 100%, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 0) 100%) 0 -10px;
}
.footer {
    background-color: #77536c;
    height: 40px;
    color: wheat;
    background: radial-gradient(white -100%, #520047 100%, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 0) 100%) 0 -10px;
}

.title {
    float: left;
    margin-top: 15px;
    margin-left: 30px;
    font-family: 'PT Sans Caption', sans-serif;
    letter-spacing: 7px;
    font-weight: 1000;
    font-size: 20px;

}
.header .title a:hover {
    text-decoration: none;
}

a {
    text-decoration: none;
    color: wheat;
}

nav li {
    display: inline-block;
    margin-right: 25px;
}
p {
    font-size: 20px;
    margin-bottom: 10px;
}

nav {
    float: right;
    margin-right: 100px;
    margin-top: 15px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
    width: 1340px;
    justify-content: center;
}

.block {
    width: 250px;
    height: 300px;
    border: 1px solid brown;
    margin: 10px;
    text-align: left;
    line-height: 20px;
    background: radial-gradient(white 0%, #a66d92 100%, rgba(255, 0, 255, 0) 100%, rgba(255, 255, 255, 0) 150%) 0 -10px;
    padding: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
a {
    color: #1a202c;
}
a:hover {
    color: black;
    text-decoration: underline;

}

.zagolovokNews {
    overflow: hidden;
    background: transparent;
    outline: none;
    font-weight: bold;
    font-size: 15px;
    width: 250px;
    height: 80px;
    font-family: 'PT Sans Caption', sans-serif;
    color: black;
}


.description {
    margin-top: 12px;
    overflow: hidden;
    background: transparent;
    outline: none;
    width: 250px;
    height: 200px;
    min-height: 40px;
    max-height: 100px;
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 15px;
    margin-bottom: 40px;
}

.data {
    overflow: auto;
    background: transparent;
    outline: none;
    width: 250px;
    min-height: 40px;
    font-family: 'PT Sans Caption', sans-serif;
    margin-top: 10px;
    font-size: 15px;
    color: #2d3748;
}

.avtorNews {
    margin-bottom: -20px;
    overflow: auto;
    background: transparent;
    outline: none;
    width: 250px;
    height: 40px;
    font-family: 'PT Sans Caption', sans-serif;
    margin-top: 30px;
    font-size: 13px;
    color: #7c7c7c ;
}

.source {
    overflow: auto;
    background: transparent;
    outline: none;
    width: 250px;
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 13px;
    color: #2d3748;
}

html {
    background: white;
    font-size: 14px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    min-width: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    text-rendering: optimizeLegibility;
}

body {
    color: #1a202c;
    font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
}

.main {
    margin: 0 auto;
    max-width: 1040px;
    padding: 10px;
}

.column {
    flex: 1;
    flex-direction: column;
}

.article {
    background: #f1c3f6;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    color: #666;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-basis: auto;
    margin: 10px;
}
.pagePost {
    background: #f1c3f6;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    color: #666;
    width: 1500px;
    margin-left: -145px;
    font-size: 20px;
    margin-top: 20px;


}

.article:hover,
.article:focus {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    color: #444;
}

h2 {
    color: black;
    margin-top: 10px;
}



.article-body {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 20px;
}

.body-pagePost{
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 20px;
}
.article-content {
    flex: 1;
    margin-top: 5px;
    font-size: 16px;
}

.content-pagePost {
    flex: 1;
    margin-top: 5px;
    font-size: 16px;
    color: black;

}

.article-info {
    display: flex;
    font-size: 0.85em;
    justify-content: space-between;
    margin-top: 10px;
}

.info-pagePost {
    display: flex;
    font-size: 0.85em;
    justify-content: space-between;
    margin-top: 10px;

}

@media screen and (min-width: 800px) {
    .columns,
    .column {
        display: flex;
    }
}
.paginate {
    height: 50px;
    size: 10px;
}

.comment{
    border: 1px solid #666;
    margin: 10px;
    padding: 10px;
    font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
    font-size: 12px;
    border-radius: 4px;
    box-shadow: 2px 2px 2px #999;
}
.commentPosts:hover {
    font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
    font-size: 12px;
    border-radius: 4px;
    box-shadow: 2px 2px 2px #999;
}

.comment1 {
    border: 1px solid #666;
    padding: 1px 10px 5px;
    font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
    font-size: 12px;
    border-radius: 4px;
    box-shadow: 2px 2px 2px #999;
}
.p {
    font-size: 15px;
}

label {
    font-size: 15px;
}
textarea {
    margin-top: -10px;
    width: 300px;
    height: 80px;
}
input {
    margin-top: 8px;
}

